<div class="post">
	<div class="panel_izq">
		<div class="titular">
			<p >DEV ALEJANDRO</p>
			<p >DNI 34.648.590</p>
			<p >28 YEARS OLD</p>
		</div>
			
	</div>
	<div class="panel_der">
		<div class="titulo">
			<a [routerLink]="['']" class="black waves-effect waves-light btn">Go back</a>
			 <p>{{infoPost.cardTitle}}</p>
	        <img class="image_banner" src="{{infoPost.cardPost.postImageUrl}}">

		</div>
		<div class="contenido">
			<div class="parrafo">
				<p>{{infoPost.cardPost.postDescription}}</p>
			</div>
			<div class="grafico">
				<p>{{infoPost.cardPost.postTitle}}</p>
			    <div class="graph">
				  <canvas baseChart [data]="doughnutChartData" [chartType]="doughnutChartType"></canvas>
				</div>
			</div>        
		</div>

	       

	        
			
	</div>
</div>
